<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>Doska ob'javlenij</title>
</head>
<body>
    <h1>Objavlenija</h1>
    <div>
        <a href="{% url 'index'%}">Home</a>
        {% for rubric in rubrics %}
        <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>
        {% endfor %}
        <a href="{% url 'add' %}">Dobavit</a>
    </div>
    {% for bb in bbs %}
    <div>
        <h2>{{ bb.title }}</h2>
        <p>{{ bb.content }}</p>
        <p><a href="{% url 'by_rubric' bb.rubric.pk %}">{{ bb.rubric.name }}</a></p>
        <p>{{ bb.published|date:"d.m.Y H:i:s"}}</p>
    </div>
    {% endfor %}
</body>
</html>